# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# If you use Django migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*.py

# VS Code and IDEs
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# dotenv files (if used for secrets)
.env
.env.*

# Coverage/testing
.coverage
htmlcov/
*.cover
.cache
nosetests.xml
coverage.xml
*.pkl

# Pytest
.pytest_cache/

# pipenv / poetry / requirements
Pipfile.lock
poetry.lock
